body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-end;
  align-items: flex-end;
	padding: 2px;
	transition: .3s;
}
.photo-container ul li {
  
  width: 250px;
  height: 170px;
  overflow: hidden;
  margin-bottom: 15px;
}

.photo-container ul img {
  display: block;
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
 
}

.photo-container li:hover img {
  transform: scale(1.65);
}

a {
  text-decoration: none;
  color: white;
}

